[user]
	email = 289633152@qq.com
	name = yyz

[diff]
    tool=vimdiff
    prompt=false

[merge]
    tool=vimdiff
    prompt=false

[alias]
	co = checkout
	br = branch -av
	ss = status

[core]
    editor = vim
